hljs {
  display: block;
  overflow-x: auto;
  background: #0C2238;
  color: white;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  line-height: 1.45;
  tab-size: 2;
  -webkit-font-smoothing: auto;
  -webkit-text-size-adjust: none;
  position: relative;
  border-radius: 2px;
  color: #ddd;
}

/* General-purpose */
.hljs-keyboard,
.hljs-tag,
.hljs-tag .hljs-name,
.hljs-title,
.hljs-keyword,
.hljs-literal,
.hljs-built_in,
.hljs-strong {
  color: #E5C3A2;
}

/* Normal text */
.hljs-code,
.hljs-class .hljs-title {
	color: white;
}


/* Tags, attributes, configs */
.hljs-attr,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-value,
.hljs-params,
.hljs-attribute,
.hljs-regexp {
  color: #7DB9F4;
}

/* Markup */
.hljs-link,
.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-emphasis,
.hljs-type,
.hljs-name {
  color: #9ccc65;
}

/* Meta */
.hljs-comment,
.hljs-meta {
  color: #607D8B;
}